@font-face {
    font-family: BS;
    src: url("../fonts/bs.ttf");
}

@font-face {
    font-family: BSbold;
    src: url("../fonts/bsb.ttf");
}

* {
    font-family: "BS";
    transition: 0.2s;
}

.a,
.b {
    display: block;
    margin-top: 100px;
}

.mx-auto {
    margin-bottom: -68px;
}

h1 {
    font-family: "BSbold";
    font-size: 40px;
    color: rgb(255, 255, 255);
    transition: 0.2s;
    margin-top: -15px;
}

.navbar {
    background-image: url("../img/imgheader.jpg");
    background-position: center center;
    background-size: cover;
    height: 60px;
    width: 100%;
    top: 0px;
    right: 0;
}

.navbar-toggler {
    background-color: rgba(46, 30, 30, 0.164);
}

body {
    background-color: #ededed;
    background-image: url("../img/back.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#offcanvasNavbar {
    background: rgb(39, 39, 39);
    color: white;
    text-align: center;
}

#ul li a {
    color: white;
}

#ico {
    color: white;
    font-size: 1.3rem;
    align-items: center;
    margin-right: 10px;
}

.card {
    color: white;
    background: #16234D;
    border: 1px solid rgba(0, 0, 0, 0.555);
}

.btn,
.btn-lg {
    font-family: BSbold;
}

.btn {
    background: #ff1b40;
    border: 1px solid rgba(0, 0, 0, 0.555);
    color: white;
    padding: 25.2px;
}

.btn-lg {
    background: #ff1b40;
    border: 1px solid rgba(0, 0, 0, 0.555);
    color: white;
    padding: 40px;
}

.list-group-item {
    text-align: center;
    font-size: 1em;
    color: #000;
    background: #ffffff8a;
    box-shadow: 4px 4px 20px -2px rgba(0, 0, 0, .35);
}

.list-group-item:hover {
    background: #ffffff;
    box-shadow: 0 0 10px #ffffff, 0 0 40px #ffffff, 0 0 80px #ffffff;
}